@charset "utf-8";
/* #mcontainer{padding:168px 0 0 0;margin:0 auto;width:1200px;} */

#header {
    position: fixed;
    height: 75px;
    top: 0;
    left: 0;
    z-index: 2000;
    background: url("../img/main/header_bg.png") repeat;
    border-bottom: 1px solid #fff;
    /* background: url("img/main/header_bottom_line.png") repeat-x left bottom; */
}

#header .inner_header{
    position: relative;
    width:98%;
    margin:0 auto;
    
}


#header h1 {
    position: absolute;
    left:0;
    top:50%;
    margin-top:-18px;
    /* float: left;
    margin: 13px 0 0 13px; */
}

#header h1 a {
    color: #fff;
    display: block;
    font-size: 32px;
}

#header ul {
    text-align: center;
}

#header ul li {
    display: inline-block;
    text-align: left;
}

#header ul li a {
    display: block;
    padding: 25px 19px;
    color: #fff;
    font-size: 19px;
    line-height: 25px;
    font-weight: bold;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
}

#header a.sitemap {
    display: inline-block;
    position: absolute;
    right:0;
    top:50%;
    margin-top:-10px;
    width: 20px;
    height: 20px;
    background: url("../img/main/sitemap-ico.png") no-repeat 0 0;
    font-size: 0;
    text-indent: -9999px;
    vertical-align: middle;
}




#mvisual {
    height: 950px;
    overflow: hidden;
    position: relative;
}

#mvisual ul li {
    position: relative;
    width: 100%;
    height: 950px;
    text-align: center;
}

#mvisual ul li.img01 {
    background: url('../img/main/visual_img01.jpg') no-repeat 0 50%;
    background-size: cover;
}

#mvisual ul li.img02 {
    background: url('../img/main/visual_img02.jpg') no-repeat 0 50%;
    background-size: cover;
}

#mvisual ul li.img03 {
    background: url('../img/main/visual_img03.jpg') no-repeat 0 50%;
    background-size: cover;
}

#mvisual ul li.img04 {
    background: url('../img/main/visual_img04.jpg') no-repeat 0 50%;
    background-size: cover;
}

#mvisual ul li.img05 {
    background: url('../img/main/visual_img05.jpg') no-repeat 0 50%;
    background-size: cover;
}

#mvisual ul li.img06 {
    background: url('../img/main/visual_img06.jpg') no-repeat 0 50%;
    background-size: cover;
}

#mvisual .slick-slider {
    position: relative;
    height: 950px;
}

#mvisual .slick-prev,
#mvisual .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 118px;
    height: 118px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2000;
}

#mvisual .slick-prev::before,
#mvisual .slick-next::before {
    /* content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/main/control_btn_bg.png"); */
    /* opacity: 0.2; */
}

#mvisual .slick-prev {
    background: url("../img/main/control_arr_left_ico .png") no-repeat 50% 50%;
    left: 0;

}

#mvisual .slick-next {
    background: url("../img/main/control_arr_right_ico .png") no-repeat 50% 50%;
    right: 0;

}

#mvisual ul li div.tit_box {
    position: absolute;
    top: 380px;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    z-index: 2000;
}

#mvisual ul li span.img_text {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #fff;
    vertical-align: middle;
    z-index: 2000;
    font-size: 14px;
}

#mvisual ul li span.img_text i {
    display: inline-block;
    padding-right: 10px;
}

#mvisual ul li span.visual_bg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/main/mvisual_bg.png") repeat;
    z-index: 100;
}

#mvisual ul li h3 {
    position: relative;
    margin: 25px 0;
    padding: 0;
    color: #fff;
    font-size: 50px;
}

#mvisual ul li p {
    color: #fff;
    font-size: 23px;
}

#mvisual .weather_area {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 2000;
    color: #fff;
}

#mvisual .weather_area .weather_img {
    position: relative;
    width: 127px;
    height: 127px;
    margin: 15px auto;
    border-radius: 100%;
    border: 3px solid #fff;
}

#mvisual .weather_area .wico {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 64px;
    height: 64px;
    background: url("../img/main/weather_icon.png") no-repeat;
    font-size: 0;
}

#mvisual .weather_area .wico.weather1 {
    background-position: 0 0;
}

#mvisual .weather_area .wico.weather2 {
    background-position: -70px 0;
}

#mvisual .weather_area .wico.weather3 {
    background-position: -140px 0;
}

#mvisual .weather_area .wico.weather4 {
    background-position: -209px 0;
}

#mvisual .weather_area .wico.weather5 {
    background-position: -279px 0;
}

#mvisual .weather_area .wico.weather6 {
    background-position: -350px 0;
}

#mvisual .weather_area .wico.weather7 {
    background-position: -419px 0;
}

#mvisual .weather_area .today_area {}

#mvisual .weather_area .today_area .today {
    display: block;
    font-size: 13px;
    text-align: center;
}

#mvisual .weather_area .today_area span {
    display: inline-block;
    font-size: 57px;
    line-height: 57px;
    font-weight: bold;
}

#mvisual .weather_area .today_area .month {}

#mvisual .weather_area .today_area .bar {}

#mvisual .weather_area .today_area .date {}

#mvisual .weather_area .weather_txt {
    text-align: center;
}

#mvisual .weather_area p {
    text-align: center;
}

#mvisual .weather_area p a {
    color: #fff;
}

#mvisual .vmore {
    position: absolute;
    left: 50%;
    margin-left: -36px;
    z-index: 20;
    bottom: 60px;
}

@keyframes shake {
    0%,
    100% {}
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-20px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateY(20px);
    }
}

#mvisual .shake {
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: shake;
}

#mvisual .vmore .scroll {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 104px;
}

#mvisual .vmore.bot .scroll {
    height: 65px;
    background: url("../img/main/scroll_down.png") no-repeat 50% 0;
    font-size: 0;
    text-indent: -9999px;
}

/**************************mcontent**************************/

#mcontent {}

#mcontent h3 {
    margin: 0 0 35px 0;
    font-size: 35px;
    color: #1b1b1b;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
}















/**************************************************************************************
반응형
***************************************************************************************/


@media(max-width:1300px){
	#header{}
	#header .inner_header{}
	#header .inner_header .menu_area{width:98%;}
}
