<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.TravelLogDao">

  <resultMap type="TravelLog" id="TravelLogMap">
	    <id column="TLNO" property="tlno"/>
	    <result column="MNO" property="memberNo"/>
	    <result column="PART" property="partner"/>
	    <result column="PREF" property="preference"/>
	    <result column="SDT" property="startDate"/>
	    <result column="EDT" property="endDate"/>

  </resultMap>
  
  <select id="selectList" 
          resultMap="TravelLogMap" parameterType="map">
    select TLNO,MNO,SDT,EDT,PART,PREF 
    from TAMLA_TRAVEL_LOG
    
  </select>
  
    <select id="selectListwithPage" 
          resultMap="TravelLogMap" parameterType="map">
    select TLNO,MNO,SDT,EDT,PART,PREF 
    from TAMLA_TRAVEL_LOG
    order by TLNO desc
    limit #{startRowNo}, #{pageSize}
  </select>


  <insert id="insert" parameterType="TravelLog"
          useGeneratedKeys="true" keyColumn="TLNO" keyProperty="tlno">
          INSERT INTO TAMLA_TRAVEL_LOG(TLNO,MNO,PART,PREF,SDT,EDT)
          VALUES(#{tlno},#{memberNo},#{partner},#{preference},#{startDate},#{endDate})
         <selectKey resultType="int" keyProperty="tlno" order="AFTER" >  
            SELECT LAST_INSERT_ID()
         </selectKey>
  </insert>
  
  <select id="selectOne" parameterType="int" resultMap="TravelLogMap">
    select TLNO,MNO,SDT,EDT,PART,PREF 
    from TAMLA_TRAVEL_LOG
    where TLNO=#{value}
  </select>
  
<!-- 
  <update id="update" parameterType="TravelLogMap">
    update TAMLA_TRAVEL_LOG set 
    PART=#{partner}, 
    PREF=#{preference},
    SDT=#{startDate},
    EDT=#{endDate}
    where TLNO=#{tlno}
  </update>
 -->
  <delete id="delete" parameterType="int">
    delete from TAMLA_TRAVEL_LOG where TLNO=#{value}
  </delete>

</mapper>







