<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 이름은 SQL을 찾을 때 사용하는 그룹명이다.
     따라서 SQL 문을 사용하는 DAO 클래스 이름과 같게 하면
     유지보수할 때 알아보기 쉽다.
     단순히 알아보기 쉬울 뿐만 아니라 
     스프링 프레임워크와 연동할 때 DAO 객체를 자동 생성할 수 있다. 
-->
<mapper namespace="bitcamp.java106.pms.dao.TravelPlanDao">

  <resultMap type="TravelPlan" id="TravelPlanMap">
    <id column="TTPNO" property="ttpno"/>
    <result column="MEMO" property="memo"/>
    <result column="PLANTI" property="pltime"/>
    <result column="PLANDAY" property="plday"/>
    <result column="TOURNO" property="tno"/>
    <result column="TOURTYPE" property="ttype"/>
    <result column="PLNO" property="plno"/>
    <result column="DESCR" property="descr"/>
  </resultMap>
  
  <!-- SQL 문 id를 설정할 때 SQL문을 사용하는 메서드 이름과 같게하면
       유지보수할 때 알아보기 쉽다. 
       알아보기 쉬울 뿐만 아니라
       스프링 프레임워크와 연동할 때 DAO객체를 자동생성하고 
       그 메서드를 자동생성할 때 사용할 수 있다.
  -->
  <insert id="insert" parameterType="map"
       useGeneratedKeys="true" keyColumn="TTPNO" >
       insert into
       TAMLA_TRAVEL_PLAN(TOURNO,TOURTYPE,MEMO,PLANTI,PLANDAY,PLNO) <!-- 회원번호 추가 필요 MNO -->
       values(#{tno},${ttype},#{memo},#{pltime},#{plday},#{plno})
   </insert>
  
  <select id="selectOne" 
          resultMap="TravelPlanMap" 
          parameterType="map">
   SELECT TTP.TOURNO, TTP.TOURTYPE, TTP.MEMO, TTP.PLANTI, TTP.PLANDAY, TTP.PLNO, TTP.TTPNO
   FROM TAMLA_TRAVEL_PLAN TTP
   WHERE TTP.PLNO=#{plno}
  </select>
  
   <select id="selectListWithPlan" 
          resultMap="TravelPlanMap" 
          parameterType="map">
   SELECT TTP.TOURNO, TTP.TOURTYPE, TTP.MEMO, TTP.PLANTI, TTP.PLANDAY, TTP.PLNO, TTP.TTPNO, TTP.DESCR
   FROM TAMLA_TRAVEL_PLAN TTP
   WHERE TTP.PLNO=#{plno} and TTP.PLANDAY = #{dayno}
  </select>
  
  <select id="selectListWithPlanDay" 
          resultType="int"
          parameterType="map">
   SELECT max(TTP.PLANDAY)
   FROM TAMLA_TRAVEL_PLAN TTP
   WHERE TTP.PLNO=#{plno}
  </select> 
  
  
  
  <!-- 파라미터의 타입이 primitive type이나 wrapper 클래스, String 클래스인 경우
       값을 꺼낼 때 프로퍼티 이름을 마음대로 해도 된다.
  -->
  
  <!-- <update id="update"  parameterType="map">
    update TAMLA_TRAVEL_PLAN TTP set TTP.DESCR = 
    where TTP.PLNO=#{plno}
  </update> -->
  
  <insert id="add2" parameterType="map"
       useGeneratedKeys="true" keyColumn="TTPNO" >
       insert into
       TAMLA_TRAVEL_PLAN(DESCR) <!-- 회원번호 추가 필요 MNO -->
       values(#{descr})
   </insert>
  
  
</mapper>






